# Database
db.sqlite3
dev.db

# Temporary files
*.pyc
*~
*#
.coverage
coverage_report

# Secret key for admin, database
secret.py
creds

# Dictionary data
dictionary/fixtures/*
dict_sources/*
# but keep free words and sources
!dictionary/fixtures/sources.json
!dictionary/fixtures/*free*.json
!dict_sources/*free*.csv

# Old logos
dictionary/static/dictionary/sources

# Pre-packaged python modules (install with ./dependencies)
django_nose/

# Generated data
.eggs
*.egg-info
