# Database
db.sqlite3
dev.db

# Temporary files
*.pyc
*~
.coverage
coverage_report

# Secret key for admin, database
secret.py
creds

# Dictionary data
dictionary/fixtures
dict_sources

# Pre-packaged python modules (install with ./dependencies)
django_nose/
