{% extends "dictionary/base.html" %}
{% load formatting %}

{% block content %}
<div class="listing">
    <h1>{{ word|russian_r }}</h1>

    {% for root in roots %}
    {% if root.pos %}
    <p class="root-header"><span class="pos">{{ root.pos }}</span>
    <span class="root-label">root:</span> <span class="root">{{ root.root|root }}-</span></p>
    {% endif %}

    <div class="listing-root">
        {% for source in root.sources %}
        <div class="listing-source">
            <div class="source-label">
            {% if source.source %}
                {{ source.source.annotated|safe }}
            {% else %}
                <span class="source" title="unknown source">other</span>
            {% endif %}
            </div>
            <ul class="source-defns">
            {% for sense in source.senses %}
                <li class="listing-defn">
                    <div class="defn-and-sources">
                        <span class="defn">{{ sense.defn|russian_r_nocaps|markup }}</span>
                        <span class="sources">
                        {% for chunk in sense.chunks %}
                            {% if chunk.entryvarietyinfo_set.all %}
                                <span class="varieties">
                                {% for link in chunk.entryvarietyinfo_set.all %}
                                    {{ link.variety.annotated|safe }}{% if link.detail %}
                                    {{ link.detail }}{% endif %}{% include "dictionary/comma.html" %}
                                {% endfor %}
                                </span>
                            {% endif %}
                            {% if chunk.source_link %}
                                <a href="{{ chunk.source_link }}">{{ chunk.source_info }}</a>{% include "dictionary/semicolon.html" %}
                            {% else %}
                                {{ chunk.source_info }}{% include "dictionary/semicolon.html" %}
                            {% endif %}
                        {% endfor %}
                        </span>
                    </div>
                    <div class="examples">
                    {% for example in sense.examples %}
                        <div class="example">
                            <p class="example-native">{{ example.vernacular|russian_r_nocaps|markup}}</p>
                            {% if example.english %}
                                <p class="example-english">{{ example.english }}</p>
                            {% endif %}
                            {% if example.examplevarietyinfo_set.all or example.source %}
                                <p class="sources">
                                {% if example.examplevarietyinfo_set.all %}
                                    <span class="varieties">
                                    {% for link in example.examplevarietyinfo_set.all %}
                                        {{ link.variety.annotated|safe }}{% if link.detail %}
                                        {{ link.detail }}{% endif %}{% include "dictionary/comma.html" %}
                                    {% endfor %}
                                    </span>
                                    {% if example.source %} - {% endif %}
                                {% endif %}
                                {% if example.source %}
                                    {% if example.source != source.source %}
                                        {{ example.source.annotated|safe }}
                                    {% endif %}
                                    {% if example.source_link %}
                                        <a href="{{ example.source_link }}">{{ example.source_info }}</a>
                                    {% else %}
                                        {{ example.source_info }}
                                    {% endif %}
                                    </span>
                                {% endif %}
                                {% if example.comments %}
                                <p class="comments">
                                    {{ example.comments|markup|comment_newlines }}
                                </p>
                                {% endif %}
                                </p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                    <div class="related">
                        {% if sense.etymologies.all %}
                        <p class="etymologies">etymology:
                        {% for etymology in sense.etymologies %}
                            {{ etymology|markup }}{% include "dictionary/semicolon.html" %}
                        {% endfor %}
                        </p>
                        {% endif %}
                        {% if sense.comments %}
                        {% for comment in sense.comments %}
                        <p class="comments">
                            {{ comment|russian_r_nocaps|markup|comment_newlines }}
                        </p>
                        {% endfor %}
                        {% endif %}
                        {% if sense.main_entries %}
                        <p class="main-entry">main entry:
                        {% for chunk in sense.main_entries %}
                            <a href="{% url 'entry' chunk.entry %}">{{ chunk.entry|russian_r }}</a>{% include "dictionary/comma.html" %}
                        {% endfor %}
                        </p>
                        {% endif %}
                        {% if sense.subentries %}
                        <p class="subentries">subentries:
                        {% for chunk in sense.subentries %}
                            <a href="{% url 'entry' chunk.entry %}">{{ chunk.entry|russian_r }}</a>{% include "dictionary/comma.html" %}
                        {% endfor %}
                        </p>
                        {% endif %}
                        {% if sense.see_also %}
                        <p class="see-also">see also:
                        {% for chunk in sense.see_also %}
                            <a href="{% url 'entry' chunk.entry %}">{{ chunk.entry|russian_r }}</a>{% include "dictionary/comma.html" %}
                        {% endfor %}
                        </p>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>

    {% if root.inflections %}
    <div class="popout" id="endings-{{ root.id }}">

        <h2 class="popout-header">Endings</h2>

<div class="popout-content">
 {% for table in root.inflections %}
 <h3>{{ table.title }}</h3>
 <table class="inflection" id="{{ table.id }}">
  <tr>
    <th />
    {% for h in table.column_headers %}
    <th>{{ h }}</th>
    {% endfor %}
  </tr>
  {% for r in table.rows %}
  <tr>
   <th>{{ r.header }}</th>
   {% for c in r.cells %}
   <td class="ientry" id="{{ c.id }}">
    {% for id, entry in c.map.items %}
<span class="iopt" id="{{ id }}">{{ entry|russian_r }}</span>{% endfor %}
   </td>
   {% endfor %}
  </tr>
  {% endfor %}
 </table>

 <script>
 </script>
 {% endfor %}
</div>

        <p class="disclaimer">(Endings are automatically generated. Help us out by
        <a href="https://docs.google.com/forms/d/1mxloJwG76jL7Y8ACQaAI-w25fe09vn_CBShexOXr-wQ/viewform?entry.252901238=Incorrect+word+or+ending&entry.599026928={{ url|urlencode }}&entry.1210689804={{ request.META.HTTP_USER_AGENT|urlencode }}">reporting errors!</a>)</p>
        <!--<a href="https://docs.google.com/forms/d/1mxloJwG76jL7Y8ACQaAI-w25fe09vn_CBShexOXr-wQ/viewform?entry.252901238=Incorrect+word+or+ending&entry.1210689804=BROWSER&entry.923122775=OPERATING_SYSTEM&entry.599026928=URL&entry.1930047016=PROBLEM&entry.2005487674=CONTACT">-->
    </div>
    <script>
        var state = new PopoutState($(endings.escape_id("endings-{{ root.id }}")));

        {% for table in root.inflections %}
        // {
            state.row_span["{{ table.id }}"] = {
            {% for cell_id, conditions in table.row_span.items %}
                "{{ cell_id }}": "{{ conditions }}",
            {% endfor %}
            };

            state.col_span["{{ table.id }}"] = {
            {% for cell_id, conditions in table.col_span.items %}
                "{{ cell_id }}": "{{ conditions }}",
            {% endfor %}
            };

            state.collapse["{{ table.id }}"] = {
            {% for cell_id, conditions in table.collapse.items %}
                "{{ cell_id }}": "{{ conditions }}",
            {% endfor %}
            };
        // }
        {% endfor %}

        endings.state["endings-{{ root.id }}"] = state;

        {% for table in root.inflections %}
        state.activate_cell("{{ table.default }}");
        {% endfor %}
    </script>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
