{% extends "dictionary/base.html" %}
{% load formatting %}

{% block content %}
{% if partial_word %}
    <div class="assembled">
        <h1>{{ partial_word }}</h1>
    </div>
{% endif %}

<div class="searchbar">
    <form class="searchform" action="{% url 'search' %}" method="get">
        <!--<input type="hidden" name="w" value="{{ build_chunks }}" />-->
        <div class="expand"><input type="text" class="searchbox" name="q"
                                   placeholder="Search for an Alutiiq or English word: &quot;liilluni&quot;, &quot;learn&quot;"
                                   value="{{ query }}" /></div>
        <input class="submit" type="submit" value="Search" />
    </form>
</div>

{% if entry_list %}
    <div class="results">
    {% for entry in entry_list %}
        <div class="entry">
            <div class="details">
                <a class="word" href="{% url 'entry' entry.word %}">
                    {{ entry.word|russian_r }}
                    <span class="link-expander"></span>
                </a>
                <div class="defns">
                {% for root in entry.roots %}
                    <span class="root">
                        <span class="pos">{{ root.pos }}</span>
                        {{ root.defns|join:"; " }}
                    </span>
                {% endfor %}
                </div>
            </div>
            <!--
            <div class="buttons">
                <a class="button" href="{% url 'build' %}?q={% if query %}{{ query }}{% endif %}&w={% if build_entries %}{{ build_entries }}_{{ entry.word }}{% else %}{{ entry.word }}{% endif %}">build</a>
            </div>
            -->
        </div>
    {% endfor %}
    </div>
{% elif query %}
    <div class="results">
        <div class="entry">
            <p class="notfound">Sorry, no results for &quot;{{ query }}&quot;.</p>
        </div>
    </div>
{% endif %}
{% endblock %}
